.component-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  position: relative;
    z-index: -1;
}

.header1Font {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.03em;
  font-size: 3rem;
}

.faqTitle {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.03em;
}
.header2Font {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.03em;
  font-size: 2rem;
}

.section1Font {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.03em;
  font-size: 3rem;
}
.section2Font {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.03em;
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  .header2Font {
    font-size: 1.5rem;
  }

  .section1Font {
    font-size: 2rem;
  }
  .section2Font {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .section2Font {
    font-size: 1.5rem;
    max-width: 300px;
  }
}
.centerAbsoluteContent {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prosImageContainer {
  height: 650px;
}

.arrow {
  width: 15px;
}
.navArrow {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin-right: 10px;
}
.divider {
  height: 2px;
  background-color: lightgray;
  width: 98%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.roundedDiv {
  border: 2px solid transparent;
  overflow: hidden;
  border-radius: 10px;
}

.submitButton {
  padding-left: 5px;
  padding-right: 5px;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.301);
  margin-top: 20px;
  margin-bottom: 20px;
}

.faqTitleFont {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.25;

  margin-bottom: 15px;
}

.faqTextFont {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
}

.arrowFaq {
  width: 25px;
  height: 25px;
}

.socialIconContainer {
  padding-top: 25px;
  margin-left: 15px;
}

.navTitle {
  font-family: Pulp, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.03em;
  font-size: 1.5rem;
  margin-left: 20px;
}

.burgerStyles > button {
  padding: 0 !important;
}
@media only screen and (max-width: 1024px) {
  .prosImageContainer {
    height: 400px;
  }
  .navTitle {
    margin-left: unset;
  }
}

/* hover animation underline */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.countryIcon {
  width: 25px;
  object-fit: cover;
  margin-right: 5px;
}

/* nav */
.arrowDown {
  width: 15px;
  transform: rotate(90deg);
}
.loginIcon {
  width: 25px;
  object-fit: cover;
  margin-right: 5px;
}

.usContainer {
  width: 100%;
  top: 33px;
  background: #f5ebeb;
  padding: 5px 0px 5px 4px;
  border-radius: 5px;
}

.profileContainer {
  width: fit-content;
  top: 41px;
  right: 16px;
  background: #ffffff;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.smileLogo {
  margin-top: 30px;
  margin-bottom: 30px;
}
